.center{
    text-align:center;
}



#gameInfo{
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 1%;
    font-size: 20px;
/*
    border: dotted;
    font-family: "Century Gothic";
   border-color: red green blue yellow;
    text-align: right;
    
     border-radius: 25px;
*/
}


#userNotes{
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 4.5%;
    /*border: dotted;*/
    font-family: "Century Gothic";
    /*background-color: lightgoldenrodyellow;*/
    text-align: center;
    font-size: xx-large;
    color: lightsalmon;


}

.answer_words
{
    width: 90%;
    padding-bottom: 8%;
    padding-top: 8%;
    font-size: xx-large;
    font-family: monospace;
    border-style: solid;
    border-color: black #ac2925 black #ac2925;
    border-width:medium;
    /*border-bottom-left-radius: 30px;*/
    /*border-bottom-right-radius: 30px;*/
    border-radius: 25px;
    color: black;
}

.video
{
    width : 100%;
    height: 60%;
    border-width: medium;
    border-style: solid;
    border-color:  black black black black;
}

.nextQuesBtn{
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 15px 45px;
    font-size: 48px;
    color: #ac2925;
    font-family: "Bitter",serif;
    line-height: 1.8;
    border-radius:15px;
}

.gameOver{
    font-family: "Century Gothic";
    /*background-color: lightgoldenrodyellow;*/
    text-align: center;
    font-size: 1000%;
    color: lightsalmon;
    padding-bottom: 10%;
}

.green{
    color:green;
}

.red{
    color:red;
}


.instuctionStyle{
   
    text-align: right;
    font-size: 10px;
    font-family: fantasy;
    width: 90%;
    border-style:groove;
    border-color: black white black white;
    border-width: 7px;
    background-color: white;
    color: black;
    /*border-bottom-left-radius: 30px;*/
    /*border-bottom-right-radius: 30px;*/
    border-radius: 20px;
    
    
}

#fff{
    text-align: right;

}


.info{
    text-align: right;
    width: 100%;
    margin-top: 35%;
    padding-bottom: 8%;
    padding-top: 8%;
    font-size: 140%;
    font-family: monospace;
    border-style: solid;
    border-color: black #ac2925 black #ac2925;
    border-width:medium;
    border-spacing: 40px;
    border-radius: 30px;
    color:#ac2925;
    
}


.informationButton{
    border-style: solid;
    border-color: black #ac2925 black #ac2925;
    border-width:medium;
    background-color: inherit;
    font-size: 200%;
    border-radius: 25%;
    
}

#bgImage2
{
    background-image:url(../../../../images/bg/kadurPoreah.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}




#TriviaTitle
{
    text-align: center;
    margin-bottom: 1%;
    /*font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;*/
    /*color: #ac2925;*/
    /*text-shadow: 4px 4px 3px rgba(255, 149, 144, 0.1);*/

    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #ac2925;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

#uno{
    font-size: 30px;
    display: inline-table;
    background-color: aquamarine;
    text-align: center;
}



