</br></br>
<h1 class="title">{{message}}</h1>

<div ng-controller="Learning_HouseController as house">
    <div class="container" id = "menu_learning_general">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="player">                

                        <h1 >{{clip.name_heb}}</h1>
            <video ng-src='{{goTrust(clip.clip_url)}}' width="350" height="300" controls 
            autoplay='true' controls='true'>
            </video>                

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="theWords">
                <div ng-repeat="clip in clips">
                    <a ng-href='#/Learning_House' ng-click='goShow(clip)' >{{clip.name_heb}}</a>
                </div>    
            </div>
        </div>
    </div>  
        </br></br>
</div>  
