
#theBody
{
    background-color: white;
}



#title
{
    text-align: center;
}


#menu
{
    padding-top: 8%;
    padding-bottom: 8%;
    width:80%;
	margin:auto;
}

.link_home
{
    display: block;

    height:  100%;
    width: 100%;
}

#signUp
{
    height: 200px;
    background-color: white;

    background-image:url(images/9.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    
    border: black solid 1px;
    

}

#signIn
{
    height: 200px;
    background-color: white;
    
    background-image:url(images/7.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center; 
    
    border-top: black solid 1px;
    border-bottom: black solid 1px;

    
}


#learningMode
{
    height: 200px;
    background-color: white;
    
    background-image:url(images/8.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;    
    
    border: black solid 1px;
    
}

.tab-pane {
    background-color:rgba(192,192,192,0.3);

}

