#menu_learning_general
{
    padding-top: 8%;
    width:80%;
	margin:auto;
}
#theWords
{
    font-family: fantasy;
    font-size: 2vmax;
    direction: rtl;
    color:white;
    height: 373px;
    
    background-color: black;
    overflow:auto;
    word-wrap:break-word;    
}

#player
{
    margin-top: -50px;
    background-color: red;
    margin: auto;
    text-align: center;
    height: 373px;

}
