a.colorVisiting
{
    color: rgb(30, 93, 208);
    font: bold;
}

a.colorVisited
{
    color: rgba(0, 0, 0, 0.18);
}


a:link 
{ 
 text-decoration:none; 
} 


a:hover, a:focus, a:active 
{
  text-decoration: none;
}

a.colorVisiting:hover, a.colorVisiting:focus, a.colorVisiting:active 
{
    color: rgb(30, 93, 208);
    font: bold;
}

a.colorVisited:hover, a.colorVisited:focus, a.colorVisited:active 
{
    color: rgba(0, 0, 0, 0.37);
}




/*
#my-learn_page
{
    width:100%;
	margin:auto;
    background-image:url(../../../images/bg/123.jpg);
    background-repeat: no-repeat;
    background-size:cover;

}
*/
#title_learn
{
    text-align: center;
}


#menu_learn
{
    padding-top: 8%;
}

#theWords
{
    font-family: fantasy;
    font-size: 2vmax;
    color:white;
    height: 26vmax;
    
    text-align: right;
    
    overflow-y:scroll ;
    width: 100%;
    
    margin-top: -30%;
}

#learn_video
{
    height: 100%;
    width :100%;
}

#player
{
    padding-top: 1%;
}

#line_learn
{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


