#menu_learning
{
    width:100%;
	margin:auto;
    text-align: center;
 
}

#title2
{
    text-align: center;
   
    font: 6vmax 'Great Vibes', Helvetica, sans-serif;
    color: #ac2925;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}