a.colorVisiting
{
    color: rgb(30, 93, 208);
    font: bold;
}

a.colorVisited
{
    color: rgba(0, 0, 0, 0.18);
}


a:link 
{ 
 text-decoration:none; 
} 


a:hover, a:focus, a:active 
{
  text-decoration: none;
}

a.colorVisiting:hover, a.colorVisiting:focus, a.colorVisiting:active 
{
    color: rgb(30, 93, 208);
    font: bold;
}

a.colorVisited:hover, a.colorVisited:focus, a.colorVisited:active 
{
    color: rgba(0, 0, 0, 0.37);
}


#title_learn
{
    text-align: center;
}


#menu_learn
{
    background-color: aliceblue;
    width: 100%;
   /*
    background-image: url("../../../images/bg/999.png");
    background-size: cover;
    background-repeat: no-repeat;
    
    */
}

#theWords
{
    font-family: fantasy;
    font-size: 2vmax;
    font-weight: bold;

    color:white;
    height: 26vmax;
    
    text-align: right;
    
    overflow-y:scroll ;
    width: 30%;
    
    margin-left: auto;
    
}

#learn_video
{
    height: 100%;
    width :100%;
}

#player
{
	/*display :inline-flex;*/

}

#line_learn
{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#img_learn
{
    float :left;
    padding-top: 3%;
    padding-left: 2%;
    padding-bottom: 2%;
}

#loading_learn_video
{
    text-align: center;
}

