<div> 
    <snap-drawer>
        <div class=snap-menu>
            <div class="sidebar-header text-center">
                <img src="./images/logo/shai-logo.png" width="70%" height="70%">
            </div> 
            <ul class=snap-ul> 
                <li ng-class="{active: $state.includes('overview')}">
                    <a ui-sref=overview>דף הבית</a>
                </li>
                
                <li ng-class="{active: $state.includes('learningMode')}">
                    <a ui-sref=learningMode>לימוד שפת הסימנים</a>
                </li>
                
                <li ng-class="{active: $state.includes('game')}">
                     <a ui-sref=game>משחק</a>
                </li>
                
<!--
                <li ng-class="{active: $state.includes('login')}">
                    <a ui-sref=login>התנתק</a>
                </li>
-->
                
                <li ng-class="{active: $state.includes('contactUs')}">
                    <a ui-sref=contactUs>צור קשר</a>
                </li>
            </ul>
        </div>
    </snap-drawer> 
    <snap-dragger>
    </snap-dragger>
    <snap-content snap-opt-tap-to-close=false>
      <div >
        <a snap-toggle=left ng-click="menuOpen = !menuOpen"> 
            <span class=menutoggle> 
                <i ng-hide=menuOpen class="fa fa-bars fa-2x"></i>
                <i ng-show=menuOpen class="fa fa-times fa-2x"></i> 
            </span>
        </a>
        <div class=fr> <h2>צור קשר</h2> </div>
            <div class=container>
  
        <div id="page-wrap">
		
		  <div id="contact-area">
			
			<form ng-submit="clicked()" ng-show = "m_sending">
				<label id="labelContact" for="Name">:שם</label>
				<input type="text" name="Name" id="Name" ng-model="form.name" required placeholder="שם"/>
	
	
				<label id="labelContact" for="Email">:אמייל </label>
				<input type="email" name="Email" id="Email" ng-model="form.contactEmail" required placeholder = "email"/>
				
				<label id="labelContact" for="Message">:הודעה</label><br />
				<textarea name="Message" rows="20" cols="20" id="Message" ng-model="form.message" required placeholder =" ההודעה שלך"></textarea>

                    <input id="but_sub" type="submit" value="שלח" name="submit" class="submit-button" >			
              </form>
			
			<div style="clear: both;"></div>
                <div id="ret_mess" ng-show ="!m_sending">
				    <div id="returnMessage">{{message}}</div>
                    <div id="returnMessage">{{message2}}</div>
              </div>    
                    
              

		</div>

	</div>
        
                
                <!---->
                
                
                
      </div>

    </snap-content> 
    <div id="the_footer">© 2016 Shai Project</div>
</div>
</div>    