<div> 
    <snap-drawer>
        <div class=snap-menu>
            <div class="sidebar-header text-center">
                <img src=images/flat-avatar.png class="sidebar-img img-circle">
            </div> 
            <ul class=snap-ul> 
                <li ng-class="{active: $state.includes('overview')}">
                    <a ui-sref=overview>דף הבית</a>
                </li>
                
                <li ng-class="{active: $state.includes('learningMode')}">
                    <a ui-sref=learningMode>לימוד שפת הסימנים</a>
                </li>
                
                <li ng-class="{active: $state.includes('game')}">
                     <a ui-sref=game>משחק</a>
                </li>
                
                <li ng-class="{active: $state.includes('login')}">
                    <a ui-sref=login>התנתק</a>
                </li>
                
                <li ng-class="{active: $state.includes('contactUs')}">
                    <a ui-sref=contactUs>צור קשר</a>
                </li>
            </ul>
        </div>
    </snap-drawer> 
    <snap-dragger>
    </snap-dragger>
    <snap-content snap-opt-tap-to-close=false>
        <a snap-toggle=left ng-click="menuOpen = !menuOpen"> 
            <span class=menutoggle> 
                <i ng-hide=menuOpen class="fa fa-bars fa-2x"></i>
                <i ng-show=menuOpen class="fa fa-times fa-2x"></i> 
            </span>
        </a>
        <div class=fr> <h2>צור קשר</h2> </div>
        <div class=jumbotron> 
           <div class=container>
               <!-- <h1>{{message}}</h1>
                <br><br> -->
                <div class="container">
                    
                
                    <form id = "formContact">
                        <div id="fname">
                            <label id="labelContact" for="name">שם</label>
                            <input id ="allInput" ng-model="name" type="text" placeholder="אנא רשום כאן את שמך">
                        </div>

                        <div id="email">
                            <label id="labelContact" for="email">Email</label>
                            <input id ="allInput" ng-model="email" required type="email" placeholder="אנא רשמו כאן את כתובת המייל שלכם">
                        </div>
        

                        <div>
                            <label id="labelContact" for="text"> הערות</label>
                            <input id="text" type="text" placeholder="אנא רשמו כאן את הערתכם" >
                        </div>

           
                        <div>
                            <input id="submit" ng-click="clicked()" type="submit" value="שלח">
                        </div>
                    </form>
<!--    unnecessary 'home' botten
                    
                </div> 
                
                <br>
                <a class="btn btn-primary btn-lg btn-white" ui-sref=overview>חזרה לדף הבית</a>
            </div>
-->
        </div> 
    </snap-content> 
</div>