
#page-wrap 
{
	width: 90%;
	background: white;
	margin-top: 10% auto;
	margin-left :20%;
    height: auto;
    margin-bottom: 4%;
    margin-top: 6%;
    margin-bottom: -1%;

}

#title_contact
{
    width: auto;
    margin-bottom: 4%;
    font: 4vmax 'Great Vibes', Helvetica, sans-serif;
    color: #ac2925;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
    text-align: center;
}
#contact-area 
{
	width: 60%;
}

#contact-area textarea 
{
	padding: 5px;
	width: 80%;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;

}


#contact-area input
 {
	padding: 5px;
	width: 80%;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button 
{
	width: 15%;
	float:center;
	margin-left : 30%;
	
}

#labelContact
{
	float: right;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}



#Message
{
	text-align: right;

}

#Name
{
	text-align: right;
}

#but_sub
{
    min-width: 48px;
}

textarea 
{
    resize: none;
}
#ret_mess
{
    border: 2px solid;
    text-align:center;
	font-size:4vmax;
}

#contact-area
{
    padding-bottom: 4%;
}