<div> 
    <snap-drawer>
        <div class=snap-menu>
            <div class="sidebar-header text-center">
                <img src="./images/logo/Web-logo2.jpg">
            </div> 
            <ul class=snap-ul> 
                <li ng-class="{active: $state.includes('overview')}">
                    <a ui-sref=overview>דף הבית</a>
                </li>
                
                <li ng-class="{active: $state.includes('learningMode')}">
                    <a ui-sref=learningMode>מצב למידה</a>
                </li>
                
                <li ng-class="{active: $state.includes('game')}">
                     <a ui-sref=game>משחק</a>
                </li>
                
                <li ng-class="{active: $state.includes('login')}">
                    <a ui-sref=login>התנתק</a>
                </li>
                
                <li ng-class="{active: $state.includes('contactUs')}">
                    <a ui-sref=contactUs>צור קשר</a>
                </li>
            </ul>
        </div>
    </snap-drawer> 
    <snap-dragger>
    </snap-dragger>
    <snap-content snap-opt-tap-to-close=false>
        <a snap-toggle=left ng-click="menuOpen = !menuOpen"> 
            <span class=menutoggle> 
                <i ng-hide=menuOpen class="fa fa-bars fa-2x"></i>
                <i ng-show=menuOpen class="fa fa-times fa-2x"></i> 
            </span>
        </a>
        <div class=fr> <h2>לימודים</h2> </div>

        <div id="my-page">    
            <div class="container" id = "menu_learning">

                <div class="row">
                        <h1 id="titlee">{{message}}</h1>

                    <div class="col-lg-7 col-md-7 col-sm-7" id="player">                
                            <video ng-src='{{goTrust(clip.clip_url)}}' width="500" height="500" controls 
            autoplay='true' controls='true'>
                            </video>                
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5" id="theWords">
                        <div ng-repeat="clip in clips">
                            <a id = "{{clip._id}}" ng-click='goShow(clip)' >{{clip.name_heb}}</a>
                        </div>    
                    </div>
                </div>
            </div> 
            <a class="btn btn-primary btn-lg btn-black" ui-sref=learningMode>חזרה לדף הלמידה</a>

        </div> 
    </snap-content> 
</div>    