<div class="container" id = "videoArea" >

       <div class = "row text-center" >

           <div id="gameInfo" class="col-lg-2">

               <div class="row">פסילות: {{lives}} </div>
               <div class="row">ניקוד: {{score}} </div>
               <div class="row">זמן שנותר: {{timer}}</div>

           </div>

          <div class="col-lg-9 ">


              <video ng-src='{{goTrust(currClip.clip_url)}}' width="550" height="300" controls
                     autoplay='true' controls='true'>
              </video>
          </div>


           <div class="col-lg-1" id="userNotes">
               {{messageAfterAnswer}}
           </div>

       </div>


</div>
    <!----------------------------------------------------answers area----------------------------------------------->
<div class="ans_container">

    <div class = "row text-center" >


        <div class="col-lg-3 col-lg-offset-3">
            <label class="answer_words" data-id="upLeft" ng-click="onUserWordClick($event)">ב.       {{ansArr[0].triviaObj.name_heb}}</label>
        </div>
        <div class="col-lg-3 col-lg-offset-1" >
          <label class="answer_words"  data-id="upRight" ng-click="onUserWordClick($event)">א. {{ansArr[1].triviaObj.name_heb}} </label> 
        </div>


    </div>


    <div class = "row text-center" >


        <div class="col-lg-3 col-lg-offset-3">
            <label class="answer_words"  data-id="buttomLeft" ng-click="onUserWordClick($event)">ג. {{ansArr[2].triviaObj.name_heb}} </label>
        </div>
        <div class="col-lg-3 col-lg-offset-1" >
            <label class="answer_words"  data-id="buttomRight" ng-click="onUserWordClick($event)">ד.{{ansArr[3].triviaObj.name_heb}} </label> 
        </div>


    </div>


</div>


